* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffffff;  
    font-family: 'Lato', sans-serif;
    color: #333333;

}

img {
    max-width: 100%;
}

/*travel-page - самая левая часть с текстом*/
.travel-page {
    position: relative;
    background-color: #FFFFFF;
    width: 1440px;
    height: 1024px;
}

.travel-description {
    position: absolute;
    width: 363px;
    height: 548px;
    top: 219px;
    left: 64px;
}

.travel-description__header {
    font-size: 18px;
    font-weight: 300;
}

.travel-description__title {
    font-size: 56px;
    font-weight: 500;
    padding-top: 8px;
}

.travel-description__subtitle {
    font-size: 24px;
    font-weight: 400;
    padding-top: 32px;
    padding-bottom: 32px;
}

.travel-description__explore-button {
    background: #333333;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 500;
    border-radius: 40px;
    padding: 24px 56px;
    border: 0;
    transition: all 500ms ease;
}

.travel-description button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/*soft-star*/
.travel-description__soft-star {
    position: absolute;
    top: 144px;
    left: 386px;
}

/*travel-cards - три картинки справа*/
.travel-cards {
    width: 200px;
    height: 834px;
    position: absolute;
    flex-direction: column;
    top: 94px;
    right: 64px;
    display: flex;
    gap: 24px;
}

.travel-cards__foto {
    width: 200px; 
    height: 262px; 
    border-radius: 32px 32px 32px 32px; 
    border: 1px solid #333333;
    object-fit: cover; 
}

/*travel-statistics - статистика в самом низу*/
.travel-statistics {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 964px;
    height: 83px;
    top: 861px;
    left: 64px;
    gap: 32px;
}

.travel-statistics__frame {
    border: 1px solid #000000;
    border-radius: 16px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 0 40.5px;
    box-shadow: 8px 8px 0px #333333;
}

.travel-statistics__frame-1 {
    background-color: #D2EAF4;
}

.travel-statistics__frame-2 {
    background-color: #EFC48F;
}

.travel-statistics__frame-3 {
    background-color: #EECFCD;
}

.travel-statistics__header{
    font-size: 22px;
    font-weight: 500;
    margin-right: 16px;
}

.travel-statistics__text{
    font-size: 14px;
    font-weight: 400;
}

/*reviews - середина с аркой и комментариями*/
.reviews {
    position: relative;
    width: 665px; 
    height: 688px;
    top: 125px;
    left: 469px;
}

.reviews__frame {
    position: relative;
    z-index: 1;
    left: 67px;
    width: 500px;
    height: 686.3px;
    border-radius: 250px 250px 0 0; 
    border: 0.81px solid #000000; 
}

.reviews__background-photo {
    position: relative;
    width: 436.38px;
    height: 610.93px;
    top: 42.8px;
    border-radius: 218px 218px 0 0; 
    left: 30.69px;
}

.reviews__cards {
    position: absolute;
    z-index: 2;
    gap: 16px;
    border: 1px solid #000000;
    border-radius: 16px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8);
}

.reviews__photo {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 25.5px;
    left: 24px;
    border-radius: 50%;
    object-fit: cover;
}

.reviews__text {
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    width: 149px;
    height: 51px;
    top: 24px;
    left: 88px;
}

.reviews__cards-left {
    position: absolute;
    width: 261px;
    height: 99px;
    top: 313px;
    left: -5px;
}

.reviews__cards-right {
    position: absolute;
    width: 271px;
    height: 99px;
    top: 166px;
    right: 18px;
}

